<View>
  <Header value="Select label and start to click on image"></Header>

  <Image name="img" value="$image"></Image>

  <PolygonLabels name="tag" toName="img" strokewidth="5">
    <Label value="Manusia" background="red"></Label>
    <Label value="Tumbuhan" background="blue"></Label>
  </PolygonLabels>
</View>